{
    "service": {
        "index": {
            "generic_name": "data/palmira",
        },
        "contents": "Mini"
    },

    "api": {
        "type": "elastic",
        "name": "Elastic",
        "port": 9200,
        "path": "/home/bulganin-va/projects/palmira/cmake-build-debug/lib/libelastic.so",
        "workers": 2,
        "max_body_size": "5M",
        "request_timeout": "2s"
    }
}
