{
    "service": {
        "index": {
            "generic_name": "data/palmira",
        },
        "contents": "Mini"
    },

    "api": {
        "module": "/home/bulganin-va/projects/palmira/cmake-build-debug/lib/libelasticAPI.so",
        "config": {
            "name": "Elastic",
            "port": 9300,
            "workers": 2,
            "max_body_size": "5M",
            "request_timeout": "2s",
            "logger": {
                "file": "elastic-api.log",
                "debug_level": "trace",
                "max_size": "10M",
                "max_count": 5,
                "rotate": true
            },
            "_source": true
        },
    }
}
